<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Product Hunt</a>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products-list">Liste des produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products-pie"
            >Produit en pie chart</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
